<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/practice</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">Root@1</property>

		<property name="show_sql">true</property>
		<!-- <property name="hbm2ddl.auto">create</property> -->
		<mapping resource="Employee.hbm.xml" />
		<mapping resource="Person.hbm.xml" />
		<mapping resource="ComponentMapping.hbm.xml"/>
		<mapping resource="Payments_TablePerClass.hbm.xml"/>
		<!-- <mapping resource="Payments_TablePerConcreteClass.hbm.xml"/> -->
		<!-- <mapping resource="Payments_TablePerSubClass.hbm.xml"/> -->
		<!-- <mapping resource="CollectionMapping.hbm.xml"/> -->
	</session-factory>
</hibernate-configuration>